.footer{
    background-color: #255F38;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    width: 100%;


}

.footer-links{
    margin-bottom: 0.5rem;
    font-size : 0.9rem;
}

.footer-links a{
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.footer-links a:hover{
    color: #ccc;
}